<div ng-include="'components/shell/shell.html'"></div>

<!-- <md-grid-list class="things-list" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px">
  <md-grid-tile ng-repeat="thing in awesomeThings" ng-class="getColor($index)" md-rowspan="{{getSpan($index)}}"
                  md-colspan="{{getSpan($index)}}"
                  md-colspan-sm="1">
    
    <md-icon class="avatar-icon" md-svg-icon="avatar:svg-{{ ($index + 1) % 11 }}"></md-icon>
    <md-grid-tile-footer><h3>{{thing.name}}</h3></md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list> -->
